body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    color: rgb(220, 220, 220);
    background-color: rgb(10, 0, 14);
    font-style: normal;
    font-size: max(16px,1.2vw);
    font-family: Arial, Helvetica, sans-serif;
}
/* Cabeçalho -> informações pessoais */
#wallpaper{
    width: 100%;
    height: 368px;
    background: url("res/images/wallpaper-g.png") no-repeat center center;
}
#apresentacao{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 93%;
    height: auto;
    margin: 1.5% 3.5%;
}
.minhasinfos{
    width: max(384px,31.52%);
    height: auto;
    margin: 1% 0.8%;
    padding-bottom: 2%;
    border-style:solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: rgb(130, 0, 182);
    box-shadow: 0px 2px 15px rgb(100, 0, 140);
}
.minhasinfos a{
    word-break: keep-all;
}
@media (min-width: 0px) and (max-width: 350px){
    .minhasinfos a{
        word-break: break-all;
    }
}
/* Barra superior -> Nome e redes */
#barratopo{
    padding-top: 100%;
    color: rgb(220, 220, 220);
    box-shadow: 0px 30px 25px rgb(10, 0, 14);
}
#apresentacao2{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    top: 0px;
    width: 100%;
    height: auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background: rgb(100, 0, 140);
}
/* Botão que encaminha para o topo da página*/
.irtopo{
    animation: indicacao 1s ease-in-out alternate infinite;
    display: none;
    bottom:18%;
    position: fixed;
    margin-left: 0.3%;
    width: 35px;
    right: 5px;
}
.irtopo img{
    width: 35px;
    height: max(35px);
}
@keyframes indicacao{
    to{
        transform: translateY(5px);
    }
}
/*Projetos -> O que foi usado, descrição e vídeo*/
#listadeprojetos{
    margin-top: 6%;
}
.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
}
.sticky + #listadeprojetos {
    padding-top: 50px;
}
.projeto{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 93%;
    height: auto;
    margin: 3% 3.5%;
    border-style:solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: rgb(130, 0, 182);
    box-shadow: 0px 2px 15px rgb(100, 0, 140);
}
.detalhes{
    width: max(306px,26.5%);
    height: auto;
    margin: 1% 0%;
}
.detalhes a{
    word-break: break-all;
    font-size: 0.9em;
}
.dtltecnologias{
    width: max(306px,26.5%); 
    height: auto;
    margin: 1% 0%;
}
.dtldescricao{
    width: max(540px,41%);
    height: auto;
    margin: 1% 0%;
}
.dtldescricao a{
    word-break: break-all;
    font-size: 0.9em; 
}
.dtlvideo{
    width: max(306px,26.5%);
    height: max(172px,27.4vh);
    margin: 1% 0%;
    align-self: baseline;
}
/*Rodapé*/
.rodape{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
    height: auto;
    background: rgb(20, 0, 28);
}
.dtlrodape{
    width: max(540px,44.4%);
    height: auto;
    margin: 1% 0%;
}
.dtlrodape p{
    font-size: 0.9em;
    text-align: center;
}
/* Configurações dos ícones */
.icones{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 80%;
    margin: 3% 8% 0.2%;
}
.icones a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}
.icones img{
    width: auto;
    height: max(32px, 2.416vw);
}
.projeto .icones img{
    width: auto;
    height: max(48px,3.623vw);
}
.icones p{
    text-align: center;
    font-size: 0.9em;
}
/* Configurações gerais das letras */
h1{
    margin: 2% 0% 0%;
    font-size: 1.5em;
    text-align: center;
}
h2{
    margin: 2% 0% 0%;
    font-size: 1.5em;
    text-align: center;
}
h3{
    margin: 0% 0% 0%;
    font-size: 3em;
    text-align: center;
}
h4{
    margin: 2% 0% 0%;
    font-size: 1.5em;
    text-align: center;
}
h5{
    margin: 0% 0% 0%;
    font-size: 0.9em;
    text-align: center;
}
p{
    margin: 0px 8%;
    font-size: 1.25em;
    text-align: left;
    word-break:keep-all;
}
a{
    color: rgb(255, 255, 255);
}